<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile" text=""></ion-back-button>
    </ion-buttons>

    <ion-title class="RDE-subtitulo">Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating" class="RDE-label">Contraseña Antigua</ion-label>
      <ion-input type="password" class="RDE-normal" [(ngModel)]="currentPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="RDE-label">Nueva Contraseña</ion-label>
      <ion-input type="password" class="RDE-normal" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <ion-button (click)="changePassword()" expand="block">
      Actualizar Contraseña
    </ion-button>
  </ion-list>
</ion-content>
