<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toogleMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="RDE-subtitulo">Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center">
    <img [src]="newPerson.photo" *ngIf="newPerson.photo" class="RDE-profile-image" />
    <img
      src="assets/images/profile.png"
      *ngIf="!newPerson.photo"
      class="RDE-profile-image"
    />
  </div>

  <ion-button expand="block" fill="clear">
    <label for="file-upload">
      <ion-label class="RDE-normal">Cambiar foto de perfil</ion-label>
    </label>

    <input
      type="file"
      accept="image/*"
      style="display: none"
      id="file-upload"
      (change)="uploadImage($event)"
    />
  </ion-button>

  <ion-list>
    <ion-item>
      <ion-input
        type="text"
        placeholder="Nombre"
        [(ngModel)]="newPerson.name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        placeholder="Apellido"
        [(ngModel)]="newPerson.lastName"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input type="tel" placeholder="Número de telefono"></ion-input>
  </ion-item>

  <ion-button (click)="onSave()" shape="round" expand="full" mode="md">
    Guardar
  </ion-button>
</ion-content>
