<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toogleMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="RDE-subtitulo">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="RDE-profile-photo">
    <img [src]="newPerson.photo" *ngIf="newPerson.photo" class="RDE-profile-image" />

    <label *ngIf="editMode" class="RDe-Icon-photo">
      <input type="file" accept="image/*" id="photo" style="display: none;" (change)="uploadImage($event)">
      <ion-icon name="camera-outline"></ion-icon>
    </label>

    <label *ngIf="editMode" class="RDe-delete-photo" (click)="deleteImage()">
      <ion-icon name="remove-outline"></ion-icon>
    </label>

    <img src="assets/images/profile.png" *ngIf="!newPerson.photo" class="RDE-profile-image" />
  </div>

  <ion-item lines="none" *ngIf="!editMode" class="ion-text-center">
    <ion-label class="RDE-subtitulo">
      {{ newPerson.name }} {{ newPerson.lastName }}</ion-label>
  </ion-item>


  <div class="RDE-edit" (click)="onEditMode()">
    <ion-icon name="create-outline" *ngIf="!editMode"></ion-icon>
    <ion-icon name="close-outline" *ngIf="editMode"></ion-icon>
  </div>

  <ion-list class="RDE-list">
    <ion-item *ngIf="editMode">
      <ion-label class="RDE-label-sub">Nombres:</ion-label>
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="newPerson.name" class="ion-text-right RDE-normal">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="editMode">
      <ion-label class="RDE-label-sub">Apellidos:</ion-label>
      <ion-input type="text" placeholder="Apellido" [(ngModel)]="newPerson.lastName" class="ion-text-right RDE-normal">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="editMode">
      <ion-label class="RDE-label-sub">Telefono:</ion-label>
      <ion-input type="tel" placeholder="Número de telefono" [(ngModel)]="newPhone.phoneNumber"
        class="ion-text-right RDE-normal">
      </ion-input>
    </ion-item>

    <ion-item *ngIf="editMode">
      <ion-label class="RDE-label-sub">Fecha de Nacimiento:</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="newPerson.dateBirth">
      </ion-datetime>
    </ion-item>

    <ion-item *ngIf="!editMode">
      <ion-label class="RDE-normal">Cuenta:</ion-label>
      <ion-label class="RDE-mini-normal">{{ user.email }}</ion-label>
    </ion-item>

    <ion-item detail *ngIf="!editMode">
      <ion-label class="RDE-normal">Cambiar contraseña</ion-label>
    </ion-item>

    <ion-item detail *ngIf="!editMode">
      <ion-label class="RDE-normal">Pagos</ion-label>
    </ion-item>

    <ion-item detail *ngIf="!editMode">
      <ion-label class="RDE-normal">Notificaciones</ion-label>
    </ion-item>

    <ion-item detail *ngIf="!editMode">
      <ion-label class="RDE-normal">Soporte</ion-label>
    </ion-item>

    <ion-item detail *ngIf="istasker" (click)="becomeTasker()">
      <ion-label class="RDE-normal">Editar Colaborador</ion-label>
    </ion-item>

  </ion-list>

  <div class="RDE-buttons">

    <ion-button (click)="onSave()" expand="block" *ngIf="editMode">
      GUARDAR
    </ion-button>
    <div *ngIf="!istasker">
      <ion-button (click)="becomeTasker()" fill="clear" expand="full" *ngIf="!editMode">
        Convertirse en Colaborador
      </ion-button>
    </div>


    <ion-button (click)="signOut()" fill="clear" expand="full" *ngIf="!editMode">
      Cerrar sesión
    </ion-button>

  </div>
</ion-content>