<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toogleMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="RDE-subtitulo">Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <div style="text-align: center;">
      <img [src]="profileImage" class="RDE-profile-image"/>
    </div>
  </ion-item>

  <ion-item>
    <ion-label class="RDE-normal">Eligir foto:</ion-label>

    <ion-buttons slot="end">
      <ion-button>
        <label for="file-upload">
          <ion-icon name="image-outline" slot="end"></ion-icon>
        </label>

        <input
          type="file"
          accept="image/*"
          style="display: none"
          id="file-upload"
          (change)="uploadImage($event)"
        />
      </ion-button>
    </ion-buttons>
  </ion-item>

<ion-button (click)="onSave()" expand="block">
  Guardar
</ion-button>
</ion-content>
