<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/services-list" text=""></ion-back-button>
    </ion-buttons>

    <ion-title class="RDE-subtitulo">Listado de {{serviceName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  
  <ion-list *ngFor="let item of person">

    <ion-item class="RDe-item">
      <ion-avatar slot="start" *ngIf="item.photo">
        <img [src]="item.photo" />
      </ion-avatar>
      <div class="RDE-icon-photo" *ngIf="!item.photo" slot="start">
        <label>{{item.name.charAt(0)}}{{item.lastName.charAt(0)}}</label>
      </div>
      <ion-label class="RDE-normal" (click)="goProfileDetails(item.idPerson)">{{item.name}} {{item.lastName}}</ion-label>
    </ion-item>
  </ion-list>

  <div class="RDE-noContent" *ngIf="person.length == 0">
    <ion-label class="RDE-normal">No se encontraron coincidencias</ion-label>
  </div>

</ion-content>
