.rde-titulo {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.rde-button {
  position: absolute;
  bottom: 0;
  width: 100%;
}
