.rde-titulo {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.rde-button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.RDe-item{
  padding: 5px;
}

