ion-item {
  margin-right: 10px;
}

.item-label-floating {
  color: rgb(184, 184, 184);
}

ion-button {
  color: white !important;
}

.RDE-login-button {
  background-color: rgb(84, 186, 204);
  margin: 20px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.RDE-register-button {
  background-color: steelblue;
  margin: 20px;
  margin-top: 5px;
  border-radius: 10px;
}

.RDE-logo{
    margin: auto;
    margin-top: 30px;
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

  .RDE-line {
    position: relative;
    z-index: 1;
  }
  .RDE-line:before {
    border-top: 1px solid #8bf1ff;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    z-index: -1;
  }
  .RDE-line span {
  
    background: #fff;
    padding: 0 15px;
  }

  .RDE-mini-normal{
    font-weight: bold;
    font-size: 16px !important;
  }