.RDE-profile-image {
    border: 0;
    margin: 15px;
    margin-bottom: 0px;
    width: 140px;
    height: 140px;
  }
  
  .RDE-profile {
    margin: auto;
    margin-bottom: 0px;
    display: block;
  }
  
  .RDE-profile-photo label {
    text-align: center;
    width: 32px;
    height: 32px;
    background-color: rgb(238, 238, 238);
    padding: 5px;
    border-radius: 150px;
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 32px;
  }
  
  .RDE-name{
    font-weight: 700;
    font-size: 18px;
  }

  .rde-skill{
    white-space: normal !important;
    color: rgb(124, 124, 124);
  }

  .RDe-tasker-work{
    color: rgb(124, 124, 124);
    font-size: 16px;
  }

  .RDe-Content-skils ion-icon {
    margin-right: 5px;
    font-size: 20px;
    color: rgb(27, 43, 0) !important;
  }

  .rde-work-count{
    font-weight: bold;
    color: rgb(27, 43, 0) !important;
    font-size: 15px;
  }

  .RDe-Content-skils{
    margin-top: 15px;
    margin: 15px;
  }


  .RDe-carrousel{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
  }

  .RDe-carrousel-list{
    border-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    transition: border-color .5s,transform .45s ease-in-out;
  }

  .RDe-carrousel-list>li{
    display: inline-block;
    flex-shrink: 0;
    list-style: none;
    width: calc(40% - 4.8px);
    margin-right: 8px;
    margin-right: 20px;
  }

  .RDe-carrousel-list ion-img{
    width: 140px;
    height: 140px;
    object-fit: cover;
  }

  .divider{
    background-color: #a6a6a7;
    border: none;
    height: 2px;
    margin: 0;
    width: 100%;
  }

  .share-tasker-content{
    display: block;
    align-items: center;
  }

  .share-tasker{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 20px;
    flex-shrink: 0;
    display: flex;
    
  }

  .share-tasker .share-options{
    margin-right: 8px;
    flex-grow: 1;
    background-color: #e4e6eb;
    height: 36px;
    border-radius: 6px;
    align-items: center;
    padding-left: 12px;
    font-weight: bold;
    color: #050505 !important;
    padding-top: 7px;
  }
  .share-tasker span{
   text-align: center; 
  }

  .share-tasker ion-icon{
    padding-top: 1px;
    margin-left: 4px;
    margin-right: 8px;
    text-align: center;
  }

  .rde-contact{
    margin-left: 15px;
    font-family: "Dosis", sans-serif !important;
  }