<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/services-person-list" text=""></ion-back-button>
    </ion-buttons>

    <ion-title class="RDE-subtitulo">{{taskerName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="RDE-profile-photo">
    <img [src]="person.photo" *ngIf="person.photo" class="RDE-profile-image" />
    <img src="assets/images/profile.png" *ngIf="!person.photo" class="RDE-profile-image" />
  </div>

  <ion-item lines="none" class="ion-text-center">
    <ion-label class="RDE-subtitulo">
      {{ person.name }} {{ person.lastName }}</ion-label>
  </ion-item>
</ion-content>  